.main-box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20px;
   
}
img{
    transition: transform .2s;
    width:80%;
    height:80%;
    margin:0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
img:hover{
    transform:scale(1.1);
   
}